bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
ClassOne/bin
ClassOne/obj
ClassTwo/bin
ClassTwo/obj
DataStructures/bin
DataStructures/obj
.DS_Store
/.vs/ProjectEvaluation
/.vs/masters_de_softeng/v17
/.vs/SoftwareEngineering/DesignTimeBuild
/.vs/SoftwareEngineering/FileContentIndex
/.vs/SoftwareEngineering/v17
/.vs
